<h3>
    Ocurrio un error procesando su solicitud
</h3>
<h5>Por favor contacta a cesarios!</h5>
<br />
<h3>Detalles</h3>
<div class="alert alert-danger">
    <h5>Ruta de la excepcion</h5>
    <hr />
    <p>@ViewBag.ExceptionPath></p>
</div>
<div class="alert alert-danger">
    <h5>Mensaje de Error</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage></p>
</div>
<div class="alert alert-danger">
    <h5>Pila</h5>
    <hr />
    <p>@ViewBag.ExceptionStackTrace></p>
</div>
